/* Title Bar with Title */
.titleBar {
  width: auto;
  height: 60px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  display: flex;
}

.grid-container {
  width: auto;
  height: 540px;
  display: grid;
  grid-template-columns: 1fr 20fr;
}

/*  */
.grid-item-2 {
  background-color: #fadade;
}

/* New Tab Pop Up Box */
.newTabBoxPopUp {
  background-color: #eef0eb;
  width: 500px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 100%;
  border-radius: 20px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#newTabBoxPopUpHidden {
  opacity: 0%;
  transition-timing-function: ease-in;
}

/* New Box Pop Up Box */

.newBoxPopUp {
  background-color: #eef0eb;
  width: 500px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 100%;
  border-radius: 20px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#newBoxPopUpHidden {
  opacity: 0%;
  transition-timing-function: ease-in;
}
