/* Title Bar with Title */
.titleBar {
  width: auto;
  height: 60px;
  font-size: 40px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.grid-container {
  width: auto;
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 15fr;
}

.grid-item-1 {
  /* background-color: #fa8b98; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-row: span 6;
  background: none;
}

.grid-item-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px 250px 250px 250px 250px 250px;
}

#grid-item-tab1 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
#grid-item-tab2 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
#grid-item-tab3 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
#grid-item-tab4 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item-box-col1 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item-box-col2 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item-box-col3 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item-box-col4 {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#total-background {
  font-family: "arial", heletica, sans-serif;
  font-size: 12px;
  height: 100vh;
  background: #fffdd0;
}

.body {
  margin: 0px;
  padding-bottom: 0;
}

#total-background {
  font-family: "arial", heletica, sans-serif;
  font-size: 12px;
  height: 100vh;
  background: #fffdd0;
}

.collapsible {
  background: none;
  background-color: none;
  cursor: pointer;
  width: 54px;
  height: 54px;
  border-radius: 100%;
  background: none;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: rgba(23, 137, 103, 0.5);
}

.collapsible:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 17px;
  caret-color: black;
  color: black;
  float: right;
  border: none;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.buttons {
  height: 150px;
  background: none;
  /* box-shadow: 0 300px 320px 0 rgba(31, 38, 135, 0.37); */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#tab-button {
  width: 54px;
  height: 54px;
  cursor: pointer;
  background: none;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 100%;
  background-color: rgba(23, 137, 103, 0.5);
  right: 30px;
}
#box-button {
  width: 54px;
  height: 54px;
  cursor: pointer;
  background: none;
  backdrop-filter: blur(1px);
  background-color: rgba(23, 137, 103, 0.5);
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

/* New Tab Pop Up Box */
.newTabBoxPopUp {
  background-color: #eef0eb;
  width: 500px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(23, 137, 103, 0.7);
}

/* New tab styling start */
.newtabformdiv {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr 0.5fr;
  grid-row-gap: 5px;
  width: 500px;
  height: 450px;
}

.new-title {
  height: 100px;
  width: 100%;
  display: grid;
  font-family: "Poppins", sans-serif;
}

.title-input-text {
  grid-row: 2;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-color: none;
  margin: 6px;
}

.new-title-text {
  font-size: 50px;
  color: white;
  grid-row: 1;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.exit-title {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.exit-title-button {
  width: 100%;
  height: 100%;
  background: none;
  font-family: "Poppins", sans-serif;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(255, 0, 0, 0.3);
  border-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.exit-title-button:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
.newTab-title {
  width: 100%;
  height: 100%;
  font-size: 50px;
  border: 5px#fa8b98;
  border-bottom: 7px#fa8b98;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: white;
  outline: none;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.submit-title {
  grid-row: 3;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: none;
  border-color: none;
  margin: 6px;
}

.newTab-submit {
  width: 100%;
  height: 100%;
  background: none;
  font-family: "Poppins", sans-serif;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(5, 181, 20, 0.2);
  border-color: black;
  color: white;
  border-radius: 10px;
}

.newTab-submit:hover {
  background-color: rgba(5, 181, 20, 0.6);
  cursor: pointer;
}

#newTabBoxPopUpHidden {
  display: none;
}

/* New Box Pop Up Box */

.newBoxPopUp {
  background-color: #eef0eb;
  width: 500px;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: rgba(23, 137, 103, 0.7);
}

#newBoxPopUpHidden {
  display: none;
}

.container-item-list {
  height: 450px;
  width: 500px;
  display: grid;
  grid-template-rows: 2fr 2fr 4fr 2fr 1fr;
  grid-template-columns: 5fr 1fr;
  grid-row-gap: 5px;
}
/* Title */
.grid-item-list-1 {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 500x79.08 */
.grid-item-title {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 50px;
}
/*  */
.grid-item-list-2 {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-color: none;
  margin: 6px;
}

#newBox-Title {
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: 5px#fa8b98;
  border-bottom: 7px#fa8b98;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: white;
  outline: none;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.grid-item-list-3 {
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-color: none;
  margin: 6px;
}

#newBox-Location {
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: 5px#fa8b98;
  border-bottom: 7px#fa8b98;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: white;
  outline: none;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

#grid-item-list-4 {
  grid-column: span 2;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-color: none;
  margin: 6px;
}

#newBox-Body {
  width: 100%;
  height: 100%;
  font-size: 20px;
  border: 5px#fa8b98;
  border-bottom: 7px#fa8b98;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: white;
  outline: none;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  padding-top: 10px;
  padding-right: 10px;
  resize: none;
}

/* Confirm button */
.grid-item-list-5 {
  grid-column: span 2;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: none;
  border-color: none;
  margin: 6px;
}
#newlist-submit {
  width: 100%;
  height: 100%;
  background: none;
  font-family: "Poppins", sans-serif;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(5, 181, 20, 0.2);
  border-color: black;
  color: white;
  border-radius: 10px;
}

.newlist-submit:hover {
  background-color: rgba(5, 181, 20, 0.6);
  cursor: pointer;
}

/* Cancel Button */
.grid-item-list-6 {
  grid-column: span 2;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.exitbuttonlist {
  width: 100%;
  height: 100%;
  background: none;
  font-family: "Poppins", sans-serif;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-color: rgba(255, 0, 0, 0.3);
  border-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.exitbuttonlist:hover {
  background-color: rgba(255, 0, 0, 0.5);
}
/* New tab styling end */

/* Remove button for the boxes */
.removeBox {
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
