/* Title Bar with Title */
.titleBar {
  width: auto;
  height: 60px;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  display: flex;
}

.grid-container {
  width: auto;
  height: 540px;
  display: grid;
  grid-template-columns: 1fr 20fr;
}

/*  */
.grid-item-2 {
  background-color: #fadade;
}

/* THis is a test */
